<div class="container" style="margin-top:100px;">

  <div class="search">
    <div class="row">
        <%= search_form_for @homes, url: { action: "search" } do |f| %>
        <div class="col-md-2 form-group select">

                  <div class="row">
                    <div class="col-md-12">
                        <%= f.label :vehicle_type_eq, "Vehicle Type" %>
                    </div><!-- col-md-12 ends -->
                  </div>  <!-- row ends -->    

                  <div class="row select">
                    <div class="col-md-12">
                           <%= f.select :vehicle_type_eq, [["Class A","Class A"], ["Class B","Class B"], ["Class C","Class C"], ["Default","Default"],
                    ["Fifth Wheel","Fifth Wheel"],
                     ["Toy Hauler","Toy Hauler"], ["Travel Trailer","Travel Trailer"],
                    ["Truck Camper","Truck Camper"],["Pop-Up Camper & Other","Pop-Up Camper & Other"],], id: 'vehicle_type', prompt: 'Select', class: 'form-control', id: 'sel1' %>
                    </div><!-- col-md-12 ends-->
                  </div>  <!--row ends -->
            
                </div><!-- col-md-2 form group select ends -->

                <div class="row">
        <div class="col-md-12">
            <div class="col-md-2" id="search_submit">
            <br>
                <%= f.submit "Search", class: "btn btn-green pad_small" %>
            </div>
        </div>
      </div>
         <% end %> 
          </div>
      </div>
</div>
